.App {
  position: relative;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  max-width: 80vw;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 2px solid var(--light-grayish-blue);
}

.main, .info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.logo {
  font-weight: 700;
  font-size: 30px;
}

.menu > ul {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  gap: 2rem;
  align-items: center;
}

.menu > ul > li {
  padding: 38px 0;
}

.menu> ul > li:hover {
  border-bottom: 3px solid var(--orange);
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
}

.cart > svg {
  stroke-width: .4;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid palevioletred;
  border-radius: 50%;
  
}

.avatar:hover, .cart:hover {
  cursor: pointer;
}

.avatar > img {
  width: 45px;
  height: 45px;
  
}

.toggler, .close {
  display: none;
}

@media only screen and (max-width: 912px) {
  .App {
    max-width: 100%;
    margin: 0 1rem;
  }

  .main, .info {
    gap: 1.5rem;
  }

  .menu > ul {
    gap: 1rem;
    margin-left: 1rem;
  }

  .logo {
    padding-bottom: 5px;
  }

}

@media only screen and (max-width: 540px) {
  .App {
    max-width: 100%;
    margin: 0;
  }

  .container {
    margin-top: 0;
  }

  .navbar {
    padding: 3rem 1.5rem;
  }

  .main, .info {
    gap: 1rem;
  }

  .main {
    position: relative;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 0rem;
    left: 0rem;
    width: 300px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    z-index: 10;
  }

  .menu.active > .close {
    display: flex;
    width: 100%;
    padding: 2rem 1.8rem 1rem 2.8rem;
  }

  .menu.active > ul {
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 0;
    gap: 1rem;
  }
  .menu.active > ul > li{
    padding: .5rem 0rem .5rem 3rem;
    align-self: flex-start;
    font-weight: 600;
  }

  .toggler {
    display: flex;
    align-items: center;
    padding-top: 4px;
  }

  .avatar > img {
    width: 35px;
    height: 35px;
  }
  
}

@media only screen and (max-width: 393px) {
  .menu.active {
    width: 250px;
  }
}

@media only screen and (max-width: 280px) {
  .menu.active {
    width: 285px;
    box-shadow: none;
  }

  .logo {
    display: none;
  }
}



