

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    /* margin: 3rem 0; */
    background-color: rgba(0, 0, 0, 0.806);
    z-index: 10;
    top: 0;
    left: -200px;
}

.close {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.close > svg {
    color: var(--orange);
    stroke-width: 10;
}

.close > svg:hover {
    cursor: pointer;
    transform: scale(1.1) translate(1px,3px);
    -webkit-transform: scale(1.1) translate(1px,3px);
    -moz-transform: scale(1.1) translate(1px,3px);
}



.main {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    width: 550px;
    display: flex;
    position: absolute;
    top: calc(50% - 25px);
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}

.control {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid rgb(178, 178, 178);
}

.control:hover {
    cursor: pointer;
    color: var(--orange);
}

.main > img {
    width: 500px;
    border-radius: 15px;
}

.thumbnails {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    background-color: rgba(255, 255, 255, 0.663);
    border-radius: 12px;
}

.thumbnail > img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.thumbnail > img:hover {
    cursor: pointer;
    opacity: .6;
}

.thumbnail.current {
    border: 2px solid var(--orange);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.663);
}

.thumbnail > .current {
    opacity: .3;
}

